USE [JIVA_CHP_45]
GO
/****** Object:  StoredProcedure [dbo].[auth_export_data_msg]    Script Date: 01/12/2010 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	 

	 ALTER PROCEDURE [dbo].[auth_export_data_msg] 
		(
		  @i_start_date DATETIME = NULL,
		  @i_end_date DATETIME = NULL,
		  @i_schedule_flag VARCHAR(5) = 'N'

		) 
	 AS 
		BEGIN 
			DECLARE @v_auth_export_date_idn NUMERIC(18, 0),
				@v_mbr_name VARCHAR(200),
				@v_mbr_first_name VARCHAR(25),
				@v_mbr_last_name VARCHAR(35),
				@v_mbr_middle_name VARCHAR(25),
				@v_mbr_birth_dt DATETIME,
				@v_mbr_ssn VARCHAR(30),
				@v_mbr_gender_cd CHAR(1),
				@v_dep_first_name VARCHAR(25),
				@v_dep_last_name VARCHAR(35),
				@v_dep_middle_name VARCHAR(25),
				@v_dep_birth_dt DATETIME,
				@v_dep_ssn VARCHAR(30),
				@v_dep_gender_cd CHAR(1),
				@v_mbr_relation NUMERIC(2),
				@v_group_id VARCHAR(25),
				@v_enc_type_cd VARCHAR(15),
				@v_mbr_idn NUMERIC(18, 0),
				@v_cert_auth_no VARCHAR(30),
				@v_identfd_number VARCHAR(80),
				@v_group_no VARCHAR(50),
				@v_admit_date DATETIME,
				@v_discharge_date DATETIME,
				@v_enc_idn NUMERIC(18, 0),
				@enc_idn NUMERIC(18, 0),
				@v_diag_start_dt DATETIME,
				@v_diag_cd VARCHAR(15),
				@v_is_primary CHAR(1),
				@v_proc_cd VARCHAR(50),
				@v_proc_type VARCHAR(10),
				@v_proc_start_dt DATETIME,
				@v_req_ext_prv_id VARCHAR(80),
				@v_req_prv_last_name VARCHAR(35),
				@v_req_prv_first_name VARCHAR(25),
				@v_req_prv_middle_name VARCHAR(25),
				@v_req_prv_ref_id VARCHAR(30),
				@v_svc_ext_prv_id1 VARCHAR(80),
				@v_svc_prv_last_name1 VARCHAR(35),
				@v_svc_prv_first_name1 VARCHAR(25),
				@v_svc_prv_middle_name1 VARCHAR(25),
				@v_svc_prv_ref_id1 VARCHAR(30),
				@v_svc_ext_prv_id2 VARCHAR(80),
				@v_svc_prv_last_name2 VARCHAR(35),
				@v_svc_prv_first_name2 VARCHAR(25),
				@v_svc_prv_middle_name2 VARCHAR(25),
				@v_svc_prv_ref_id2 VARCHAR(30),
				@v_svc_prv_cd2 VARCHAR(10),
				@v_svc_prv_type2 [varchar](50),
				@v_svc_prv_entity_type2 [char](1),
				@v_svc_ext_prv_id3 VARCHAR(80),
				@v_svc_prv_last_name3 VARCHAR(35),
				@v_svc_prv_first_name3 VARCHAR(25),
				@v_svc_prv_middle_name3 VARCHAR(25),
				@v_svc_prv_ref_id3 VARCHAR(30),
				@v_svc_prv_cd3 VARCHAR(10),
				@v_svc_prv_type3 [varchar](50),
				@v_svc_prv_entity_type3 [char](1),
				@v_auth_from_date DATETIME,
				@v_auth_to_date DATETIME,
				@v_action_code VARCHAR(2),
				@v_crt_dt DATETIME,
				@v_upd_dt DATETIME,
				@v_user_idn NUMERIC(18, 0),
				@v_from_date DATETIME,
				@v_to_date DATETIME,
				@v_mbr_identfd_number VARCHAR(50),
				@v_insd_mbr_idn NUMERIC(18),
				@v_req_prv_type [varchar](50),
				@v_req_prv_entity_type [char](1),
				@v_mbr_group_no [varchar](50),
				@v_dep_identfd_number [varchar](80),
				@v_dep_group_no [varchar](50),
				@v_svc_prv_type1 [varchar](50),
				@v_svc_prv_entity_type1 [char](1),
				@v_reject_reason_code [varchar](2),
				@v_service_type_code_values [varchar](15),
				@v_diag_idn [numeric](18, 0),
				@v_proc_idn [numeric](18, 0),
				@v_prv_role_cd VARCHAR(15),
				@v_enc_status VARCHAR(50),
				@diag_dt DATETIME,
				@diag_cd VARCHAR(30),
				@rownum INT,
				@cnt INT,
				@diag_id INT,
				@diag_idn NUMERIC(18, 0),
				@local NVARCHAR(MAX),
				@procedur_cd VARCHAR(50),
				@procedur_dt DATETIME,
				@procedur_idn NUMERIC(18, 0),
				@proc_type1 VARCHAR(10),
				@proc_type VARCHAR(10),
				@procedur_id NUMERIC(18, 0),
				@v_is_subscriber CHAR(1),
				@v_decision_cd VARCHAR(15),
				@v_proc_qty NUMERIC(18, 0),
				@v_is_exported CHAR(1),
				@v_is_corrected CHAR(1),
				@v_auth_export_data_error_idn NUMERIC(18, 0),
				@v_auth_export_error_idn NUMERIC(18, 0),
				@v_count_trt INT,
				@v_count_req INT,
				@v_count_adm INT,
				@v_count_pos INT,
				@v_inactive_adm INT,
				@v_inactive_pos INT,
				@v_inactive_trt INT,
				@v_error_desc VARCHAR(MAX),--
				@v_auth_export_error_cd VARCHAR(200),
				@v_req_prv_cd VARCHAR(10),
				@v_svc_prv_cd VARCHAR(10),
				@v_enc_class VARCHAR(50),
				@v_subscriber_cd VARCHAR(20),
				@v_auth_status_cd VARCHAR(15),
				@v_corrected CHAR(1),
				@v_exportable CHAR(1),
				@v_extn_idn NUMERIC(18, 0),
				@v_auth_status_idn NUMERIC(18, 0),
				@v_action_type VARCHAR(25),
				@v_len_of_stay INT,
				@v_1 VARCHAR(10),
				@v_2 VARCHAR(10),
				@v_3 VARCHAR(10),
				@v_4 VARCHAR(10),
				@v_5 VARCHAR(10),
				@v_6 VARCHAR(10),
				@v_7 VARCHAR(10),
				@v_8 VARCHAR(10),
				@v_9 VARCHAR(10),
				@v_10 VARCHAR(10),
				@v_11 VARCHAR(10),
				@v_12 VARCHAR(10),
				@v_13 VARCHAR(10),
				@v_14 VARCHAR(10),
				@v_15 VARCHAR(10),
				@v_16 VARCHAR(10),
				@v_17 VARCHAR(10),
				@v_18 VARCHAR(10),
				@v_19 VARCHAR(10),
				@v_20 VARCHAR(10),
				@v_error_flag VARCHAR(2),
				@errcnt INT,
				@errmax INT,
				@errinsert NVARCHAR(MAX),
				@max_total INT,
				@max1_error INT,
				@max2_error INT,
				@count_total INT, 
				@count_export INT, 
				@count_error INT,
				@exported_details varchar(50)
				
	                                	
			IF @i_start_date IS NULL 
				SET @i_start_date = ( SELECT TOP 1
												CONVERT(VARCHAR(30), to_dt, 120)
									  FROM      dbo.auth_export_dates
									  ORDER BY  export_date_idn DESC
									)
			IF @i_end_date IS NULL
	--				SET @i_end_date=replace(convert(varchar, getdate(),102),'.','-') +' '+(convert(varchar, getdate(),8))
				SET @i_end_date = CONVERT(VARCHAR(30), GETDATE(), 120)

			IF @i_start_date > @i_end_date 
				PRINT 'Error :Given startdate: ''' + @i_start_date
					+ ''' is greater than  enddate: ''' + @i_end_date + ''''
			ELSE 
				BEGIN

	------------------populate auth_export_dates----------------
					BEGIN TRANSACTION 	
					INSERT  INTO dbo.auth_export_dates
							(
							  date_exported,
							  schedule_active,
							  schedule_export,
							  exported_file_name,
							  received_response,
							  schedule_success_response,
							  schedule_error_response,
							  group_idn,
							  from_dt,
							  to_dt,
							  user_idn,
							  crt_dt,
							  upd_dt
						
							)
							SELECT  GETDATE(),--date_exported,
									NULL,	--schedule_active,
									'N',	--schedule_export,
									NULL,	--exported_file_name,
									'N',	--received_response,
									NULL,	--schedule_success_response,
									NULL,	--schedule_error_response,
									NULL,	--group_idn,
									@i_start_date,--from_dt
									@i_end_date,  --to_dt
									1,		--user_idn,
									GETDATE(),--crt_dt,
									GETDATE()--upd_dt
				
					SELECT  @v_auth_export_date_idn = SCOPE_IDENTITY() 
--					SELECT @max1_error =ISNULL(MAX(auth_export_data_error_idn),0) FROM dbo.auth_export_data_error
					DELETE  FROM dbo.auth_export_data
					DELETE  FROM dbo.auth_export_diagnosis
					DELETE  FROM dbo.auth_export_procedure

					COMMIT TRANSACTION



					SELECT  me.enc_idn,
							me.mbr_idn,
							me.enc_type_cd,
							me.upd_dt,
							me.crt_dt,
							me.status
					INTO    #mbr_enc
					FROM    mbr_enc me
							INNER JOIN mbr_identfn mi ON mi.mbr_idn = me.mbr_idn
						   -- INNER JOIN mbr_cvg mc ON me.mbr_idn = mc.mbr_idn
							INNER JOIN cert_auth_master am ON me.enc_idn = am.enc_idn
					WHERE   me.entity_active = 'Y'
							AND ( ( me.enc_type_cd IN ( 'IP' )
									AND me.status IN ( 'CLOSED' )
								  )
								  OR ( me.enc_type_cd IN ( 'OP', 'OP Referral' )
									   AND me.status IN ( 'CLOSED' )
									 )
								)
							AND mi.identfd_type = 'ALT'
							AND mi.entity_active = 'Y'
						   	AND LEN(identfd_number) = 10
						   -- AND mc.is_primary = 'Y'
							AND LEN(am.cert_auth_no) = 9
						   -- AND mc.entity_active = 'Y'
							AND me.enc_idn NOT IN (
							SELECT  enc_idn
							FROM    auth_export_278
							WHERE   auth_Status_idn IN ( 1, 2 ) )
						  --The below line has to be removed after intial load ran for full file--
							--AND am.alt_cert_auth_no is not null

					DECLARE export_data_cur CURSOR
						FOR SELECT  enc_idn,
									mbr_idn,
									enc_type_cd
							FROM    #mbr_enc
							WHERE   upd_dt >= @i_start_date
									AND upd_dt <= @i_end_date
							UNION
							SELECT  ip.enc_idn,
									ip.mbr_idn,
									enc.enc_type_cd
							FROM    ip_svc ip WITH ( NOLOCK )
									JOIN #mbr_enc enc ON ip.enc_idn = enc.enc_idn
							WHERE   ip.upd_dt >= @i_start_date
									AND ip.upd_dt <= @i_end_date
									AND ip.entity_active = 'Y'
							UNION
							SELECT  ep.enc_idn,
									ep.mbr_idn,
									enc.enc_type_cd
							FROM    enc_prv ep
									JOIN #mbr_enc enc ON ep.enc_idn = enc.enc_idn
							WHERE   ep.upd_dt >= @i_start_date
									AND ep.upd_dt <= @i_end_date
									AND ep.entity_active = 'Y'
							UNION
							SELECT  ae.enc_idn,
									ae.mbr_idn,
									enc.enc_type_cd
							FROM    act_extn ae
									JOIN #mbr_enc enc ON ae.enc_idn = enc.enc_idn
							WHERE   ae.upd_dt >= @i_start_date
									AND ae.upd_dt <= @i_end_date
									AND ae.entity_active = 'Y'
							UNION
							SELECT  d.enc_idn,
									d.mbr_idn,
									enc.enc_type_cd
							FROM    discharge d
									JOIN #mbr_enc enc ON d.enc_idn = enc.enc_idn
							WHERE   d.upd_dt >= @i_start_date
									AND d.upd_dt <= @i_end_date
							UNION
							SELECT  op.enc_idn,
									op.mbr_idn,
									enc.enc_type_cd
							FROM    op_svc op
									JOIN #mbr_enc enc ON op.enc_idn = enc.enc_idn
							WHERE   op.upd_dt >= @i_start_date
									AND op.upd_dt <= @i_end_date
									AND op.entity_active = 'Y'
							UNION
							SELECT  ed.enc_idn,
									ed.mbr_idn,
									enc.enc_type_cd
							FROM    enc_diag ed
									JOIN #mbr_enc enc ON ed.enc_idn = enc.enc_idn
							WHERE   ed.upd_dt >= @i_start_date
									AND ed.upd_dt <= @i_end_date
									AND ed.entity_active = 'Y'
							UNION
							SELECT  ed.enc_idn,
									ed.mbr_idn,
									enc.enc_type_cd
							FROM    enc_proc ed
									JOIN #mbr_enc enc ON ed.enc_idn = enc.enc_idn
							WHERE   ed.upd_dt >= @i_start_date
									AND ed.upd_dt <= @i_end_date
									AND ed.entity_active = 'Y'

							--                UNION--export if decision_cd is modified 					
							--                SELECT  es.enc_idn,
							--                        enc.mbr_idn,
							--                        enc.enc_type_cd
							--                FROM    enc_status_hist es
							--                        JOIN #mbr_enc enc ON es.enc_idn = enc.enc_idn
							--                WHERE   CONVERT(VARCHAR(30), es.upd_dt, 121) >= @i_start_date
							--                        AND CONVERT(VARCHAR(30), es.upd_dt, 121) <= @i_end_date
							--                UNION--export if episode_status is modified					
							--                SELECT  ed.enc_idn,
							--                        enc.mbr_idn,
							--                        enc.enc_type_cd
							--                FROM    enc_decision_hist ed
							--                        INNER JOIN #mbr_enc enc ON ed.enc_idn = enc.enc_idn
							--                WHERE   CONVERT(VARCHAR(30), ed.upd_dt, 121) >= @i_start_date
							--                        AND CONVERT(VARCHAR(30), ed.upd_dt, 121) <= @i_end_date
			

					OPEN export_data_cur
					WHILE ( 1 = 1 )

						BEGIN  

							--SET @v_auth_export_date_idn =	NULL
							--SET @v_mbr_name =	NULL
							--SET @v_mbr_first_name =	NULL
							--SET @v_mbr_last_name =	NULL
							--SET @v_mbr_middle_name =	NULL
							----SET @v_mbr_birth_dt =	NULL
							--SET @v_mbr_ssn =	NULL
							--SET @v_mbr_gender_cd =	NULL
							--SET @v_dep_first_name =	NULL
							--SET @v_dep_last_name =	NULL
							--SET @v_dep_middle_name =	NULL
							--SET @v_dep_birth_dt DATETIME,	NULL
							SET @v_dep_ssn = NULL
							SET @v_dep_gender_cd = NULL
							SET @v_mbr_relation = NULL
							SET @v_group_id = NULL
							--SET @v_enc_type_cd =	NULL
							--SET  @v_mbr_idn =	NULL
							SET @v_cert_auth_no = NULL
							--SET @v_identfd_number =	NULL
							SET @v_group_no = NULL
							SET @v_admit_date = NULL
							SET @v_discharge_date = NULL
							--SET  @v_enc_idn =NULL
							--SET @enc_idn =	NULL
							SET @v_diag_start_dt = NULL
							SET @v_diag_cd = NULL
							SET @v_is_primary = NULL
							SET @v_proc_cd = NULL
							SET @v_proc_type = NULL
							SET @v_proc_start_dt = NULL
							SET @v_req_ext_prv_id = NULL
							SET @v_req_prv_last_name = NULL
							SET @v_req_prv_first_name = NULL
							SET @v_req_prv_middle_name = NULL
							SET @v_req_prv_ref_id = NULL
							SET @v_svc_ext_prv_id1 = NULL
							SET @v_svc_prv_last_name1 = NULL
							SET @v_svc_prv_first_name1 = NULL
							SET @v_svc_prv_middle_name1 = NULL
							SET @v_svc_prv_ref_id1 = NULL
							SET @v_svc_prv_type1 = NULL
							SET @v_svc_prv_entity_type1 = NULL
							SET @v_svc_ext_prv_id2 = NULL
							SET @v_svc_prv_last_name2 = NULL
							SET @v_svc_prv_first_name2 = NULL
							SET @v_svc_prv_middle_name2 = NULL
							SET @v_svc_prv_ref_id2 = NULL
							SET @v_svc_prv_cd2 = NULL
							SET @v_svc_prv_type2 = NULL
							SET @v_svc_prv_entity_type2 = NULL
							SET @v_svc_ext_prv_id3 = NULL
							SET @v_svc_prv_last_name3 = NULL
							SET @v_svc_prv_first_name3 = NULL
							SET @v_svc_prv_middle_name3 = NULL
							SET @v_svc_prv_ref_id3 = NULL
							SET @v_svc_prv_cd3 = NULL
							SET @v_svc_prv_type3 = NULL
							SET @v_svc_prv_entity_type3 = NULL
							--SET @v_auth_from_date =	NULL
							--SET @v_auth_to_date =	NULL
							SET @v_action_code = NULL
							--SET @v_crt_dt =	NULL
							--SET @v_upd_dt =	NULL
							SET @v_user_idn = NULL
							--SET @v_from_date =	NULL
							--SET @v_to_date =	NULL
							--SET @v_mbr_identfd_number =	NULL
							--SET @v_insd_mbr_idn =	NULL
							SET @v_req_prv_type = NULL
							SET @v_req_prv_entity_type = NULL
							SET @v_mbr_group_no = NULL
							SET @v_dep_identfd_number = NULL
							SET @v_dep_group_no = NULL
							SET @v_svc_prv_type1 = NULL
							SET @v_svc_prv_entity_type1 = NULL
							SET @v_reject_reason_code = NULL
							SET @v_service_type_code_values = NULL
							SET @v_diag_idn = NULL
							SET @v_proc_idn = NULL
							--SET @v_prv_role_cd =	NULL
							--SET @v_enc_status =	NULL
							--SET @diag_dt =	NULL
							SET @diag_cd = NULL
							SET @rownum = NULL
							SET @cnt = NULL
							SET @diag_id = NULL
							SET @diag_idn = NULL
							SET @local = NULL
							SET @procedur_cd = NULL
							SET @procedur_dt = NULL
							SET @procedur_idn = NULL
							SET @proc_type1 = NULL
							SET @proc_type = NULL
							SET @procedur_id = NULL
							SET @v_is_subscriber = NULL
							SET @v_decision_cd = NULL
							SET @v_proc_qty = NULL
							SET @v_is_exported = NULL
							SET @v_is_corrected = NULL
							--SET @v_auth_export_data_error_idn =NULL
							SET @v_auth_export_error_idn = NULL
							SET @v_count_trt = NULL
							SET @v_count_req = NULL
							SET @v_count_adm = NULL
							SET @v_count_pos = NULL
							SET @v_inactive_adm = NULL
							SET @v_inactive_pos = NULL
							SET @v_inactive_trt = NULL
							SET @v_error_desc = NULL
							SET @v_auth_export_error_cd = ''
							SET @v_req_prv_cd = NULL
							SET @v_svc_prv_cd = NULL
							SET @v_enc_class = NULL
							SET @v_subscriber_cd = NULL
							SET @v_auth_status_cd = NULL
							SET @v_corrected = NULL
							SET @v_exportable = NULL
							SET @v_extn_idn = NULL
							SET @v_auth_status_idn = NULL
							SET @v_action_type = NULL
							SET @v_len_of_stay = NULL
							SET @v_1 = NULL
							SET @v_2 = NULL
							SET @v_3 = NULL
							SET @v_4 = NULL
							SET @v_5 = NULL
							SET @v_6 = NULL
							SET @v_7 = NULL
							SET @v_8 = NULL
							SET @v_9 = NULL
							SET @v_10 = NULL
							SET @v_11 = NULL
							SET @v_12 = NULL
							SET @v_13 = NULL
							SET @v_14 = NULL
							SET @v_15 = NULL
							SET @v_16 = NULL
							SET @v_17 = NULL
							SET @v_18 = NULL
							SET @v_19 = NULL
							SET @v_20 = NULL
							SET @v_error_flag = 'N'

	    
							FETCH NEXT FROM export_data_cur INTO @v_enc_idn,
								@v_mbr_idn, @v_enc_type_cd 

							IF ( @@fetch_status <> 0 ) 
								BREAK 

						--get @v_insd_mbr_idn , mbr_relation and enc_status
							SELECT  @v_insd_mbr_idn = mc.insd_mbr_idn,
									@v_enc_status = me.status,
									@v_mbr_relation = mc.mbr_relation,
									@v_enc_class = ces.enc_class,
									@v_subscriber_cd = mc.subscriber_cd
							FROM    mbr_cvg mc
									INNER JOIN mbr_enc me ON mc.mbr_idn = me.mbr_idn
									LEFT OUTER JOIN dbo.code_episode_class CES ON ( ces.code_episode_class_idn = me.code_episode_class_idn
																					AND ces.enc_type_cd = 'IP'
																					AND ces.entity_active = 'Y'
																				  )
							WHERE   mc.is_primary = 'Y'
									AND me.entity_active = 'Y'
									AND mc.entity_active = 'Y'
									AND mc.mbr_idn = @v_mbr_idn
									AND me.enc_idn = @v_enc_idn 

							SELECT  @v_is_subscriber = CASE WHEN ( m.mbr_idn = mc.insd_mbr_idn )
																 OR mc.insd_mbr_idn = 0
															THEN 'Y'--SELF
															WHEN m.mbr_idn <> mc.insd_mbr_idn
															THEN 'N'
													   END
							FROM    mbr M
									INNER JOIN mbr_cvg mc ON m.mbr_idn = mc.mbr_idn
							WHERE   mc.is_primary = 'Y'
									AND mc.entity_active = 'Y'
									AND m.entity_active = 'Y'
									AND mc.mbr_idn = @v_mbr_idn 
	                                
						--mbr_group_no
							IF @v_is_subscriber = 'Y' 
								SELECT  @V_mbr_group_no = emp_group.group_no
								FROM    emp_group
										INNER JOIN enc_cvg ON ( enc_cvg.group_idn = emp_group.group_idn )
															  AND enc_cvg.enc_idn = @v_enc_idn
								WHERE   emp_group.entity_active = 'Y'
										AND enc_cvg.entity_active = 'Y' 
						--dep_group_no
							IF @v_is_subscriber = 'N' 
								SELECT  @V_dep_group_no = emp_group.group_no
								FROM    emp_group
										INNER JOIN enc_cvg ON ( enc_cvg.group_idn = emp_group.group_idn )
															  AND enc_cvg.enc_idn = @v_enc_idn
								WHERE   emp_group.entity_active = 'Y'
										AND enc_cvg.entity_active = 'Y'  

						--get member information if relation is self (when insd_mbr_idn = mbr_idn or insd_mbr_idn = 0)
							SELECT  @v_mbr_first_name = clm.mbr_first_name,
									@v_mbr_last_name = clm.mbr_last_name,
									@v_mbr_middle_name = clm.mbr_middle_name,
									@v_mbr_birth_dt = clm.mbr_birth_dt,
									@v_mbr_gender_cd = CASE WHEN clm.mbr_gender_cd = '-'
															THEN 'U'
															ELSE clm.mbr_gender_cd
													   END,
									@v_dep_first_name = clm.mbr_first_name,
									@v_dep_last_name = clm.mbr_last_name,
									@v_dep_middle_name = clm.mbr_middle_name,
									@v_dep_birth_dt = clm.mbr_birth_dt,
									@v_dep_gender_cd = CASE WHEN clm.mbr_gender_cd = '-'
															THEN 'U'
															ELSE clm.mbr_gender_cd
													   END,
									@v_mbr_identfd_number = mbr_cvg.subscriber_cd,--SUBSTRING(mi.identfd_number, 1, 8),
									@v_dep_identfd_number = mbr_cvg.subscriber_cd--SUBSTRING(mi.identfd_number, 1, 8)
							FROM    mbr clm WITH ( NOLOCK )
									INNER JOIN mbr_cvg mbr_cvg ON clm.mbr_idn = mbr_cvg.mbr_idn
									INNER JOIN mbr_identfn mi ON mi.mbr_idn = clm.mbr_idn
							WHERE   ( mbr_cvg.insd_mbr_idn = mbr_cvg.mbr_idn
									  OR mbr_cvg.insd_mbr_idn = 0
									)
									AND clm.mbr_idn = @v_mbr_idn
									AND mbr_cvg.is_primary = 'Y'
									AND clm.mbr_idn <> 0
									AND mi.identfd_type = 'ALT'
									AND mbr_cvg.entity_active = 'Y'
									AND mi.entity_active = 'Y'
									AND clm.entity_active = 'Y'
									AND LEN(identfd_number) = 10

						--get member information if relation is  not self (insd_mbr_idn<>mbr_idn & insd_mbr_idn <>0)
							IF @v_is_subscriber = 'N' 
								BEGIN
									SELECT  @v_mbr_first_name = clm.mbr_first_name,
											@v_mbr_last_name = clm.mbr_last_name,
											@v_mbr_middle_name = clm.mbr_middle_name,
											@v_mbr_birth_dt = clm.mbr_birth_dt,
											@v_mbr_gender_cd = CASE WHEN clm.mbr_gender_cd = '-' THEN 'U'
																	ELSE clm.mbr_gender_cd
															   END,
											@v_mbr_identfd_number = mbr_cvg.subscriber_cd--SUBSTRING(mi.identfd_number, 1, 8)
									FROM    mbr clm WITH ( NOLOCK )
											INNER JOIN mbr_cvg mbr_cvg ON clm.mbr_idn = mbr_cvg.mbr_idn
											INNER JOIN mbr_identfn mi ON mi.mbr_idn = clm.mbr_idn
									WHERE   --								( mbr_cvg.insd_mbr_idn <> mbr_cvg.mbr_idn
	--                                  AND mbr_cvg.insd_mbr_idn <> 0
	--                                )                                AND 
											clm.mbr_idn = @v_insd_mbr_idn
											AND mbr_cvg.is_primary = 'Y'
											AND clm.mbr_idn <> 0
											AND mi.identfd_type = 'ALT'
											AND mbr_cvg.entity_active = 'Y'
											AND mi.entity_active = 'Y'
											AND clm.entity_active = 'Y'
											AND LEN(identfd_number) = 10               
								END

						--get dependent details if relation is not self
							SELECT  @v_dep_first_name = mbr.mbr_first_name,
									@v_dep_last_name = mbr.mbr_last_name,
									@v_dep_middle_name = mbr.mbr_middle_name,
									@v_dep_birth_dt = mbr.mbr_birth_dt,
									@v_dep_gender_cd = CASE WHEN mbr.mbr_gender_cd = '-'
															THEN 'U'
															ELSE mbr.mbr_gender_cd
													   END,
									@v_dep_identfd_number = SUBSTRING(mi.identfd_number, 1, 8)
							FROM    mbr mbr
									INNER JOIN mbr_cvg mbr_cvg ON mbr.mbr_idn = mbr_cvg.mbr_idn
									INNER JOIN mbr_identfn mi ON mi.mbr_idn = mbr.mbr_idn
							WHERE   mbr_cvg.insd_mbr_idn <> mbr_cvg.mbr_idn
									AND mbr.mbr_idn = @v_mbr_idn
									AND mbr.entity_active = 'Y'
									AND mbr_cvg.entity_active = 'Y'
									AND mi.entity_active = 'Y'
									AND mbr_cvg.is_primary = 'Y'
									AND mi.identfd_type = 'ALT'
									AND LEN(identfd_number) = 10
									AND mbr_cvg.mbr_relation <> 18
						
						--get auth_from_date,auth_to_date and admit_date

					--Extension 
							IF EXISTS ( SELECT  1
										FROM    act_extn
										WHERE   enc_idn = @v_enc_idn ) 
								BEGIN
									SELECT  @v_auth_to_date = MAX(e.to_dt)
									FROM    ip_svc ip
											JOIN act_extn e ON e.enc_idn = ip.enc_idn
									WHERE   e.enc_idn = @v_enc_idn
									GROUP BY e.enc_idn

									--					SELECT @v_len_of_stay=(ip.elos_assigned+e.assigned_day),
									--					@v_auth_from_date=ip.elos_assigned_from_dt					
									--					from ip_svc ip  join act_extn e 
									--					on e.enc_idn=ip.enc_idn
									--                    WHERE e.enc_idn=@v_enc_idn


									SELECT  @v_len_of_stay = ip.elos_assigned
											+ SUM(e.assigned_day),
											@v_auth_from_date = ip.elos_assigned_from_dt
									FROM    ip_svc ip
											JOIN act_extn e ON e.enc_idn = ip.enc_idn
									WHERE   e.enc_idn = @v_enc_idn
									GROUP BY e.enc_idn,
											ip.elos_assigned,
											ip.elos_assigned_from_dt 



					--select @v_len_of_stay
								END
							ELSE 
								BEGIN
									SELECT  @v_len_of_stay = CASE WHEN ce.enc_type_cd = 'IP' THEN ip.elos_assigned
																  ELSE op.assigned
															 END,
											@v_auth_from_date = ( CASE WHEN ce.enc_type_cd = 'IP' THEN CONVERT(DATETIME, ip.elos_assigned_from_dt, 112)
																	   ELSE CONVERT(DATETIME, op.from_dt, 112)
																  END ),
											@v_auth_to_date = ( CASE WHEN ce.enc_type_cd = 'IP' THEN CONVERT(DATETIME, ip.elos_assigned_to_dt, 112)
																	 ELSE CONVERT(DATETIME, op.to_dt, 112)
																END )
									FROM    mbr_enc ce
											LEFT JOIN ip_svc ip ON ( ce.enc_idn = ip.enc_idn
																	 AND ip.entity_active = 'Y'
																   )
											LEFT JOIN op_svc op ON ( ce.enc_idn = op.enc_idn
																	 AND op.entity_active = 'Y'
																   )
									WHERE   ce.entity_active = 'Y'
											AND ce.enc_idn = @v_enc_idn 
									
						
								END


							SELECT  @v_admit_date = ( CASE WHEN ce.enc_type_cd = 'IP'
														   THEN CONVERT(DATETIME, ip.admit_dt, 112)
														   ELSE NULL
													  END ),
									@v_discharge_date = ( CASE WHEN ce.enc_type_cd = 'IP'
															   THEN CONVERT(DATETIME, d.discharge_dt, 112)
															   ELSE NULL
														  END ),
									@v_decision_cd = ( CASE WHEN ce.enc_type_cd = 'IP'
															THEN ip.decision_cd
															ELSE op.decision_cd
													   END ),
									@v_service_type_code_values = ( CASE WHEN ce.enc_type_cd = 'IP' THEN ip.svc_type_cd
																		 ELSE op.svc_type_cd
																	END ),
									@v_reject_reason_code = ( CASE WHEN ce.enc_type_cd = 'IP' THEN ( CASE WHEN ip.decision_rsn_cd IN ( 'IPDEN-NEW' ) THEN '35'
																										  WHEN ip.decision_rsn_cd IN ( 'IPDEN-NMN' ) THEN '82'
																										  WHEN ip.decision_rsn_cd IN ( 'IPDEN-NCB' ) THEN '88'
																										  WHEN ip.decision_rsn_cd IN ( 'IPAPP-NPA' ) THEN '84'
																										  WHEN ip.decision_rsn_cd IN ( 'IPDEN-LOI' ) THEN '90'
																										  WHEN ip.decision_rsn_cd IN ( 'IPDEN-PEC' ) THEN '96'
																										  WHEN ( ip.decision_rsn_cd LIKE 'IPPEND%' ) THEN 'E8'
																									 END )
																   ELSE ( CASE WHEN op.decision_rsn_cd IN ( 'OPDEN-NEW' ) THEN '35'
																			   WHEN op.decision_rsn_cd IN ( 'OPDEN-NMN' ) THEN '82'
																			   WHEN op.decision_rsn_cd IN ( 'OPDEN-NCB' ) THEN '88'
																			   WHEN op.decision_rsn_cd IN ( 'OPDEN-LOI' ) THEN '90'
																			   WHEN op.decision_rsn_cd IN ( 'OPDEN-PEC' ) THEN '96'
																			   WHEN ( op.decision_rsn_cd LIKE 'OPPEND%' ) THEN 'E8'
																		  END )
															  END )
							FROM    mbr_enc ce
									LEFT JOIN ip_svc ip ON ( ce.enc_idn = ip.enc_idn
															 AND ip.entity_active = 'Y'
														   )
									LEFT JOIN op_svc op ON ( ce.enc_idn = op.enc_idn
															 AND op.entity_active = 'Y'
														   )
									LEFT JOIN discharge d ON ( ce.enc_idn = d.enc_idn )
							WHERE   ce.entity_active = 'Y'
									AND ce.enc_idn = @v_enc_idn 

							SELECT  @v_cert_auth_no = cert_auth_no
							FROM    cert_auth_master
							WHERE   enc_idn = @v_enc_idn --AND alt_cert_auth_no is not null 

		---------------------------------IP-----------------------------------
							IF @v_enc_type_cd = 'IP'
								AND @v_enc_class = 'Pre-cert' 
								BEGIN
								--requesting provider details:if prv_role_cd is adm for a given encounter
									IF EXISTS ( SELECT  1
												FROM    enc_prv
												WHERE   prv_role_cd IN ( 'ADM' )
														AND enc_idn = @v_enc_idn ) 
										BEGIN
											SELECT  @v_req_prv_last_name = p.last_name,
													@v_req_prv_first_name = p.first_name,
													@v_req_prv_middle_name = p.middle_name,
													@v_req_ext_prv_id = p.ext_prv_id,
													@v_req_prv_ref_id = p.tax_id,
													@v_req_prv_cd = 'AD',
													@v_req_prv_type = ( SELECT  DBO.whichPrvTypecd('REQ', p.prv_type_cd)
																	  ),
													@v_req_prv_entity_type = ( SELECT   DBO.whichPrvEntityTypecd('REQ', p.prv_type_cd)
																			 )
											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'ADM'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y' ;

											SELECT  @v_svc_prv_last_name1 = p.last_name,
													@v_svc_prv_first_name1 = p.first_name,
													@v_svc_prv_middle_name1 = p.middle_name,
													@v_svc_ext_prv_id1 = p.ext_prv_id,
													@v_svc_prv_ref_id1 = p.tax_id,
													@v_svc_prv_cd = 'AD',
													@v_svc_prv_type1 = ( SELECT DBO.whichPrvTypecd('SVC', p.prv_type_cd)
																	   ),
													@v_svc_prv_entity_type1 = ( SELECT  DBO.whichPrvEntityTypecd('SVC', p.prv_type_cd)
																			  )
											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'POS'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y'	 
		
										END 
									ELSE 
										BEGIN
											SELECT  @v_req_prv_last_name = p.last_name,
													@v_req_prv_first_name = p.first_name,
													@v_req_prv_middle_name = p.middle_name,
													@v_req_ext_prv_id = p.ext_prv_id,
													@v_req_prv_ref_id = p.tax_id,
													@v_req_prv_cd = 'AD',
													@v_req_prv_type = ( SELECT  DBO.whichPrvTypecd('REQ', p.prv_type_cd)
																	  ),
													@v_req_prv_entity_type = ( SELECT   DBO.whichPrvEntityTypecd('REQ', p.prv_type_cd)
																			 ),
													@v_svc_prv_last_name1 = p.last_name,
													@v_svc_prv_first_name1 = p.first_name,
													@v_svc_prv_middle_name1 = p.middle_name,
													@v_svc_ext_prv_id1 = p.ext_prv_id,
													@v_svc_prv_ref_id1 = p.tax_id,
													@v_svc_prv_cd = 'AD',
													@v_svc_prv_type1 = ( SELECT DBO.whichPrvTypecd('SVC', p.prv_type_cd)
																	   ),
													@v_svc_prv_entity_type1 = ( SELECT  DBO.whichPrvEntityTypecd('SVC', p.prv_type_cd)
																			  )
											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'POS'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y'
										END	 
								END -- end of precert
							IF @v_enc_type_cd = 'IP'
								AND @v_enc_class = 'Admission' 
								BEGIN                                
								--if prv_role_cd is 'pos' only for a given encounter
									SELECT  @v_req_prv_last_name = p.last_name,
											@v_req_prv_first_name = p.first_name,
											@v_req_prv_middle_name = p.middle_name,
											@v_req_ext_prv_id = p.ext_prv_id,
											@v_req_prv_ref_id = p.tax_id,
											@v_req_prv_type = ( SELECT  DBO.whichPrvTypecd('REQ', p.prv_type_cd)
															  ),
											@v_req_prv_entity_type = ( SELECT   DBO.whichPrvEntityTypecd('REQ', p.prv_type_cd)
																	 ),
											@v_req_prv_cd = 'AD',
											@v_svc_prv_last_name1 = p.last_name,
											@v_svc_prv_first_name1 = p.first_name,
											@v_svc_prv_middle_name1 = p.middle_name,
											@v_svc_ext_prv_id1 = p.ext_prv_id,
											@v_svc_prv_ref_id1 = p.tax_id,
											@v_svc_prv_cd = 'AD',
											@v_svc_prv_type1 = ( SELECT DBO.whichPrvTypecd('SVC', p.prv_type_cd)
															   ),
											@v_svc_prv_entity_type1 = ( SELECT  DBO.whichPrvEntityTypecd('SVC', p.prv_type_cd)
																	  )
									FROM    prv p
											INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
									WHERE   ep.enc_idn = @v_enc_idn
											AND ep.prv_role_cd = 'POS'
											AND ep.entity_active = 'Y'
											AND p.entity_active = 'Y'	

								END

							SELECT  @v_count_adm = COUNT(1)
							FROM    enc_prv
							WHERE   prv_role_cd IN ( 'ADM' )
									AND entity_active = 'Y'
									AND enc_idn = @v_enc_idn 
							SELECT  @v_inactive_adm = COUNT(1)
							FROM    enc_prv ep INNER JOIN prv p ON ep.prv_idn=p.prv_idn
							WHERE   ep.prv_role_cd IN ( 'ADM' )
									AND (p.entity_active = 'N' OR ep.entity_active = 'N')
									AND ep.enc_idn = @v_enc_idn 
							SELECT  @v_count_pos = COUNT(1)
							FROM    enc_prv
							WHERE   prv_role_cd IN ( 'POS' )
									AND entity_active = 'Y'
									AND enc_idn = @v_enc_idn 
							SELECT  @v_inactive_pos = COUNT(1)
							FROM    enc_prv ep INNER JOIN prv p ON ep.prv_idn=p.prv_idn
							WHERE   prv_role_cd IN ( 'POS' )
									AND (p.entity_active = 'N' OR ep.entity_active = 'N')
									AND ep.enc_idn = @v_enc_idn 

								--from_date,to_date,service_type_code_values &reject_reason_code
							--action code : 4=extended,i=initial,s=revised
							--                        IF EXISTS ( SELECT  1
							--                                    FROM    act_extn
							--                                    WHERE   entity_active = 'Y'
							--                                            AND enc_idn = @v_enc_idn ) 
							--                            SET @v_action_code = '4'
							--                        ELSE 
							--                            IF EXISTS ( SELECT  1
							--                                        FROM    mbr_enc
							--                                        WHERE   enc_idn = @v_enc_idn
							--                                        and     is_exported= 'Y' ) 
							--                                SET @v_action_code = 'S'
							--                            ELSE 
							--                                SET @v_action_code = 'I'
							--
	                            
							SET @v_action_code = 'I'

		-----------------------------OP/OP REFERRAL-------------------------------
							IF @v_enc_type_cd = 'OP'
								OR @v_enc_type_cd = 'OP Referral' 
								BEGIN
									--provider info:if prv_role_cd is ('req') get details of requesting provider
									IF EXISTS ( SELECT  1
												FROM    enc_prv
												WHERE   prv_role_cd IN ( 'REQ' )
														AND enc_idn = @v_enc_idn ) 
										BEGIN
											SELECT  @v_req_prv_last_name = p.last_name,
													@v_req_prv_first_name = p.first_name,
													@v_req_prv_middle_name = p.middle_name,
													@v_req_ext_prv_id = p.ext_prv_id,
													@v_req_prv_type = p.prv_type_cd,
													@v_req_prv_ref_id = p.tax_id,
													@v_req_prv_cd = 'CO',
													@v_req_prv_entity_type = ( SELECT   DBO.whichPrvEntityTypecd('REQ', p.prv_type_cd)
																			 ),
													@v_req_prv_type = ( SELECT  DBO.whichPrvTypecd('REQ', p.prv_type_cd)
																	  )
											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'REQ'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y' ;	
			
											IF OBJECT_ID('tempdb..#SVCPROVIDERS') IS NOT NULL 
												BEGIN
													DROP TABLE  #SVCPROVIDERS
												END
																						
											SELECT  ROW_NUMBER() OVER ( PARTITION BY ep.enc_idn ORDER BY ep.prv_role_cd ASC ) AS 'rownum',
													ep.enc_idn AS enc_idn,
													p.last_name AS last_name,
													p.first_name AS first_name,
													p.middle_name AS middle_name,
													p.ext_prv_id AS ext_prv_id,
													p.tax_id AS tax_id,
													( SELECT    DBO.whichPrvTypecd('SVC', p.prv_type_cd)
													) AS svc_prv_type,
													( SELECT    DBO.whichPrvEntityTypecd('SVC', p.prv_type_cd)
													) AS svc_prv_entity_type
											INTO    #SVCPROVIDERS
											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'TRT'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y'

											SELECT  @v_svc_prv_last_name1 = last_name,
													@v_svc_prv_first_name1 = first_name,
													@v_svc_prv_middle_name1 = middle_name,
													@v_svc_ext_prv_id1 = ext_prv_id,
													@v_svc_prv_ref_id1 = tax_id,
													@v_svc_prv_cd = 'CO',
													@v_svc_prv_entity_type1 = svc_prv_entity_type,
													@v_svc_prv_type1 = svc_prv_type
											FROM    #SVCPROVIDERS
											WHERE   rownum = 1
													AND enc_idn = @v_enc_idn
											SELECT  @v_svc_prv_last_name2 = last_name,
													@v_svc_prv_first_name2 = first_name,
													@v_svc_prv_middle_name2 = middle_name,
													@v_svc_ext_prv_id2 = ext_prv_id,
													@v_svc_prv_ref_id2 = tax_id,
													@v_svc_prv_entity_type2 = svc_prv_entity_type,
													@v_svc_prv_type2 = svc_prv_type
											FROM    #SVCPROVIDERS
											WHERE   rownum = 2
													AND enc_idn = @v_enc_idn			                           
											SELECT  @v_svc_prv_last_name3 = last_name,
													@v_svc_prv_first_name3 = first_name,
													@v_svc_prv_middle_name3 = middle_name,
													@v_svc_ext_prv_id3 = ext_prv_id,
													@v_svc_prv_ref_id3 = tax_id,
													@v_svc_prv_entity_type3 = svc_prv_entity_type,
													@v_svc_prv_type3 = svc_prv_type
											FROM    #SVCPROVIDERS
											WHERE   rownum = 3
													AND enc_idn = @v_enc_idn 
	                                     

										END
									ELSE --if prv_role_cd is not('req') get details of pcp
										BEGIN
											SELECT  @v_req_prv_last_name = p.last_name,
													@v_req_prv_first_name = p.first_name,
													@v_req_prv_middle_name = p.middle_name,
													@v_req_ext_prv_id = p.ext_prv_id,
													@v_req_prv_type = p.prv_type_cd,
													@v_req_prv_ref_id = p.tax_id,
													@v_req_prv_cd = 'CO',
													@v_req_prv_entity_type = ( SELECT   DBO.whichPrvEntityTypecd('REQ', p.prv_type_cd)
																			 ),
													@v_req_prv_type = ( SELECT  DBO.whichPrvTypecd('REQ', p.prv_type_cd)
																	  )


											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'TRT'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y'	;										;
												    

										
											IF OBJECT_ID('tempdb..#TRTPROVIDERS') IS NOT NULL 
												BEGIN
													DROP TABLE  #TRTPROVIDERS
												END
											SELECT  ROW_NUMBER() OVER ( PARTITION BY ep.enc_idn ORDER BY ep.prv_role_cd ASC ) AS 'rownum',
													ep.enc_idn AS enc_idn,
													p.last_name AS last_name,
													p.first_name AS first_name,
													p.middle_name AS middle_name,
													p.ext_prv_id AS ext_prv_id,
													p.tax_id AS tax_id,
													( SELECT    DBO.whichPrvTypecd('SVC', p.prv_type_cd)
													) AS svc_prv_type,
													( SELECT    DBO.whichPrvEntityTypecd('SVC', p.prv_type_cd)
													) AS svc_prv_entity_type
											INTO    #TRTPROVIDERS
											FROM    prv p
													INNER JOIN enc_prv ep ON p.prv_idn = ep.prv_idn
											WHERE   ep.enc_idn = @v_enc_idn
													AND ep.prv_role_cd = 'TRT'
													AND ep.entity_active = 'Y'
													AND p.entity_active = 'Y'							
											SELECT  @v_svc_prv_last_name1 = Last_name,
													@v_svc_prv_first_name1 = first_name,
													@v_svc_prv_middle_name1 = middle_name,
													@v_svc_ext_prv_id1 = ext_prv_id,
													@v_svc_prv_ref_id1 = tax_id,
													@v_svc_prv_cd = 'CO',
													@v_svc_prv_type1 = svc_prv_type,
													@v_svc_prv_entity_type1 = svc_prv_entity_type
											FROM    #TRTPROVIDERS
											WHERE   rownum = 1
													AND enc_idn = @v_enc_idn
											SELECT  @v_svc_prv_last_name2 = last_name,
													@v_svc_prv_first_name2 = first_name,
													@v_svc_prv_middle_name2 = middle_name,
													@v_svc_ext_prv_id2 = ext_prv_id,
													@v_svc_prv_ref_id2 = tax_id,
													@v_svc_prv_type2 = svc_prv_type,
													@v_svc_prv_entity_type2 = svc_prv_entity_type
											FROM    #TRTPROVIDERS
											WHERE   rownum = 2
													AND enc_idn = @v_enc_idn
											SELECT  @v_svc_prv_last_name3 = last_name,
													@v_svc_prv_first_name3 = first_name,
													@v_svc_prv_middle_name3 = middle_name,
													@v_svc_ext_prv_id3 = ext_prv_id,
													@v_svc_prv_ref_id3 = tax_id,
													@v_svc_prv_type3 = svc_prv_type,
													@v_svc_prv_entity_type3 = svc_prv_entity_type
											FROM    #TRTPROVIDERS
											WHERE   rownum = 3
													AND enc_idn = @v_enc_idn
	                                       
										END		
									SELECT  @v_count_trt = COUNT(1)
									FROM    enc_prv
									WHERE   prv_role_cd IN ( 'TRT' )
											AND entity_active = 'Y'
											AND enc_idn = @v_enc_idn 
									SELECT  @v_inactive_trt = COUNT(1)
									FROM    enc_prv ep INNER JOIN prv p ON ep.prv_idn=p.prv_idn
									WHERE   ep.prv_role_cd IN ( 'TRT' )
											AND (p.entity_active = 'N' OR ep.entity_active = 'N')
											AND ep.enc_idn = @v_enc_idn 
									SELECT  @v_count_req = COUNT(1)
									FROM    enc_prv
									WHERE   prv_role_cd IN ( 'REQ' )
											AND entity_active = 'Y'
											AND enc_idn = @v_enc_idn					

									--          this block is required for op, because no extension check for ip
									--                        IF EXISTS ( SELECT  1                     
									--                                    FROM    mbr_enc
									--                                    WHERE   enc_idn = @v_enc_idn
									--                                   and is_exported = 'Y' ) 
									--                            SET @v_action_code = 'S'
									--                        ELSE 
									--                            SET @v_action_code = 'I'	
								END--op ,op referal end
						
		
							IF EXISTS ( SELECT  enc_idn
										FROM    auth_export_278
										WHERE   enc_idn = @v_enc_idn
												AND auth_status_idn = 3 ) 
								SET @v_corrected = 'Y'
							IF NOT EXISTS ( SELECT  enc_idn
											FROM    auth_export_278
											WHERE   enc_idn = @v_enc_idn ) 
								SET @v_exportable = 'Y'


	----------------populate error tables----------------

							IF NOT EXISTS ( SELECT  1
											FROM    dbo.auth_export_data_error ae --if enc_idn doesnt exist in error table
													JOIN auth_export_dates ad ON ( ad.export_date_idn = ae.auth_export_date_idn )
											WHERE   ae.enc_idn = @v_enc_idn
													AND ad.from_dt > @i_start_date
													AND ad.to_dt < @i_end_date ) 
								BEGIN
	                 


									IF ( @v_mbr_identfd_number IS NULL )
										OR ( @v_dep_identfd_number IS NULL )--1001
										BEGIN
											SET @v_1 = 1
											SET @v_error_flag = 'Y'
								--SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1001'
					
										END
									IF @v_mbr_relation NOT IN ( 1, 19, 18 ) 
										BEGIN
											IF @v_mbr_relation NOT IN ( 1, 19 )--1003
												BEGIN
													SET @v_3 = 3
													SET @v_error_flag = 'Y'
									--SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1003'
					
												END
											IF @v_mbr_relation NOT IN ( 18 )--1002
												BEGIN
													SET @v_2 = 2
													SET @v_error_flag = 'Y'
								--SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1002'
					
												END

										END
									IF ( @v_enc_type_cd = 'IP' )
										AND @v_enc_class = 'Pre-cert' 
										BEGIN--ip
											IF @v_prv_role_cd NOT IN ( 'POS', 'ADM' ) ---1004
												BEGIN
													IF @v_prv_role_cd NOT IN (
														'POS' ) 
														BEGIN
															SET @v_4 = 4
															SET @v_error_flag = 'Y'
												--SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1004'--	
									
														END
													IF @v_prv_role_cd NOT IN (
														'ADM' )--1007
														BEGIN
															SET @v_7 = 7
															SET @v_error_flag = 'Y'
	--											SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1007'
								
														END									
											
												END

											IF ( @v_count_pos > 1 )--1005
												BEGIN
													SET @v_5 = 5
													SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1005'	
						
												END

											IF ( @v_inactive_pos > 1 )--1010
												BEGIN
													SET @v_10 = 10
													SET @v_error_flag = 'Y'
	--								SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1010'--	
							
												END
											IF ( @v_count_adm > 1 )--1008
												BEGIN
													SET @v_8 = 8
													SET @v_error_flag = 'Y'
	--										SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1008'--										
						
												END
											IF ( @v_inactive_adm > 1 )--1011
												BEGIN
													SET @v_11 = 11
													SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1011'
				

												END
										END-- ip precert

									IF ( @v_enc_type_cd = 'IP' )
										AND ( @v_enc_class = 'Admission' ) 
										BEGIN
									
											IF @v_prv_role_cd NOT IN ( 'POS' )--1006
												BEGIN
													SET @v_4 = 4
													SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1004'
				
	--												
												END

											IF ( @v_count_pos > 1 )--1009
												BEGIN
													SET @v_5 = 5
													SET @v_error_flag = 'Y'
	--										SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1005'
		
	--											
												END
											IF ( @v_inactive_pos > 1 )--1010
												BEGIN
													SET @v_10 = 10
													SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1010'
		
	--										
												END
										
										END

									IF ( @v_enc_type_cd IN ( 'OP', 'OP Referral' ) ) 
										BEGIN

											IF ( @v_count_req > 1 )--1012
												BEGIN
													SET @v_12 = 12
													SET @v_error_flag = 'Y'
	--											SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1012'--											
												END
											IF ( @v_count_trt = 0 )--1013
												BEGIN
													SET @v_13 = 13
													SET @v_error_flag = 'Y'
	--											SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1013'							
	--											
												END
											IF ( @v_count_trt > 3 )--1014
												BEGIN
													SET @v_14 = 14
													SET @v_error_flag = 'Y'
	--											SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1014'									
	--											
												END
											IF ( @v_inactive_trt > 0 ) ---1015
												BEGIN
													SET @v_15 = 15
													SET @v_error_flag = 'Y'
	--											SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1015'						
	--											
												END
										END								
									IF ( @v_req_ext_prv_id IS NULL )
										OR ( @v_svc_ext_prv_id1 IS NULL )--1016
										BEGIN
											SET @v_16 = 16
											SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1016'		
	--									
										END
									IF ( @v_auth_from_date IS NULL )
										AND ( @v_auth_TO_date IS NULL ) 
										BEGIN
											SET @v_19 = 19
											SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1019'				
										END
									ELSE 
										BEGIN
											IF @v_auth_from_date IS NULL 
												BEGIN
													SET @v_17 = 17
													SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1017'								
												END
											IF @v_auth_TO_date IS NULL 
												BEGIN
													SET @v_18 = 18
													SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1018'				
												END
										END
									IF ( @V_enc_type_cd = 'IP'
										 AND @v_admit_date IS NULL
									   ) 
										BEGIN
											SET @v_20 = 20
											SET @v_error_flag = 'Y'
	--									SET @v_auth_export_error_cd=@v_auth_export_error_cd+','+'1020'							
										END	


	----------------populate auth_export_diagnosis_error----------------
						  -- IF @v_auth_export_error_cd <>''
									IF @v_error_flag = 'Y' 
										BEGIN
											BEGIN TRANSACTION 
											SELECT  @cnt = COUNT(1)
											FROM    enc_diag
											WHERE   enc_idn = @v_enc_idn
													AND entity_active = 'Y' 
											SELECT TOP 1
													@diag_cd = diag_cd,
													@diag_dt = start_dt,
													@diag_idn = diag_idn
											FROM    enc_diag
											WHERE   enc_idn = @v_enc_idn
													AND is_primary = 'Y'
													AND entity_active = 'Y'  
											INSERT  INTO auth_export_diagnosis_error
													(
													  primary_diag,
													  primary_diag_dt,
													  enc_idn,
													  crt_dt,
													  upd_dt,
													  user_idn,
													  entity_active							
													)
											VALUES  (
													  @diag_cd,
													  @diag_dt,
													  @v_enc_idn,
													  GETDATE(),
													  GETDATE(),
													  1,
													  'Y'							
													) 				

											SELECT  @diag_id = SCOPE_IDENTITY() 
											SET @rownum = 0   
											WHILE @rownum < @cnt - 1
												AND @rownum < 12
												AND @cnt > 1
												BEGIN  
													SET @rownum = @rownum + 1        
													SELECT TOP 1
															@diag_cd = diag_cd,
															@diag_dt = start_dt,
															@diag_idn = diag_idn
													FROM    enc_diag
													WHERE   enc_idn = @v_enc_idn
															AND is_primary = 'N'
															AND entity_active = 'Y'
															AND diag_idn > @diag_idn   
													SET @local = 'update auth_export_diagnosis_error set sec_diag_'
														+ CONVERT(VARCHAR(MAX), @rownum)
														+ '=''' + @diag_cd
														+ ''',sec_diag_dt'
														+ CONVERT(VARCHAR(MAX), @rownum)
														+ '='''
														+ CONVERT(VARCHAR(MAX), @diag_dt)
														+ ''' where diag_idn='
														+ CONVERT(VARCHAR(MAX), @diag_id) 
		                        
													EXEC sp_executesql @local 	    
												END
									--get latest diag_idn 
											SELECT  @v_diag_idn = SCOPE_IDENTITY()
											COMMIT TRANSACTION 

	----------------populate auth_export_procedure_error----------------
											BEGIN TRANSACTION 
											SELECT  @cnt = COUNT(1)
											FROM    enc_proc
											WHERE   enc_idn = @v_enc_idn
													AND entity_active = 'Y'
						
											SELECT TOP 1
													@procedur_cd = procedur_cd,
													@procedur_dt = start_dt,
													@procedur_idn = enc_proc_idn,
													@proc_type1 = proc_type
											FROM    enc_proc
											WHERE   enc_idn = @v_enc_idn
													AND entity_active = 'Y'
											ORDER BY enc_proc_idn
						
											INSERT  INTO auth_export_procedure_error
													(
													  proc_1,
													  proc_dt1,
													  proc_type1,
													  enc_idn,
													  crt_dt,
													  upd_dt,
													  user_idn,
													  entity_active								
													)
											VALUES  (
													  @procedur_cd,
													  @procedur_dt,
													  @proc_type1,
													  @v_enc_idn,
													  GETDATE(),
													  GETDATE(),
													  1,
													  'Y'								
													) 
											SELECT  @procedur_id = SCOPE_IDENTITY()  	--get latest proc_idn

											SET @rownum = 0 
											WHILE @rownum < @cnt - 1
												AND @rownum < 11
												BEGIN  
													SET @rownum = @rownum + 1        
													SELECT TOP 1
															@procedur_cd = procedur_cd,
															@procedur_dt = start_dt,
															@procedur_idn = enc_proc_idn,
															@proc_type = proc_type
													FROM    enc_proc
													WHERE   enc_idn = @v_enc_idn
															AND enc_proc_idn > @procedur_idn
															AND entity_active = 'Y' 
													SET @local = 'update auth_export_procedure_error set proc_'
														+ CONVERT(VARCHAR(MAX), @rownum
														+ 1) + '='''
														+ @procedur_cd
														+ ''',proc_dt'
														+ CONVERT(VARCHAR(MAX), @rownum
														+ 1) + '='''
														+ CONVERT(VARCHAR(MAX), @procedur_dt)
														+ ''',proc_type'
														+ CONVERT(VARCHAR(MAX), @rownum
														+ 1) + '='''
														+ CONVERT(VARCHAR(MAX), @proc_type)
														+ ''' 					 
										where proc_idn='
														+ CONVERT(VARCHAR(MAX), @procedur_id) 
			                        
			           
													EXEC sp_executesql @local 		    
												END	
											SELECT  @cnt = 12
			--					COUNT(1)
			--					FROM    enc_proc
			--					WHERE   enc_idn = @v_enc_idn
			--							AND entity_active = 'Y' 
											SET @rownum = 0 
											WHILE @rownum < @cnt
												AND @rownum < 12
												BEGIN  
										       
													SET @local = 'UPDATE dbo.auth_export_procedure_error SET proc_qty_'
														+ CONVERT(VARCHAR(MAX), @rownum
														+ 1) + '='
														+ CONVERT(VARCHAR(MAX), @v_proc_qty)
														+ ' WHERE enc_idn= '
														+ CONVERT(VARCHAR(MAX), @v_enc_idn)
														+ ' AND proc_idn = '
														+ CONVERT(VARCHAR(MAX), @procedur_id) --+'AND proc_1 is not null'
			--								SET @local = 'UPDATE dbo.auth_export_procedure SET proc_qty_'
			--								+ CONVERT(VARCHAR(MAX), @rownum + 1) + '='''
			--								+ CONVERT(VARCHAR(MAX),@v_proc_qty )+ ''' WHERE enc_idn=' + CONVERT(VARCHAR(MAX),  @v_enc_idn)
			--								+'''AND proc_idn = '+CONVERT(VARCHAR(MAX),@procedur_id)
													SET @rownum = @rownum + 1 
													EXEC sp_executesql @local 
												END	
											COMMIT TRANSACTION 

	----------------populate auth_export_data_error----------------
											BEGIN TRANSACTION
											INSERT  INTO dbo.auth_export_data_error
													(
													  auth_export_date_idn,
													  enc_idn,
													  req_prv_last_name,
													  req_prv_first_name,
													  req_prv_middle_name,
													  req_ext_prv_id,
													  req_prv_ref_id,
													  req_prv_type,
													  req_prv_entity_type,
													  mbr_idn,
													  mbr_first_name,
													  mbr_last_name,
													  mbr_middle_name,
													  mbr_identfd_number,
													  mbr_birth_dt,
													  mbr_gender_cd,
													  mbr_group_no,
													  dep_first_name,
													  dep_last_name,
													  dep_middle_name,
													  dep_identfd_number,
													  dep_birth_dt,
													  dep_gender_cd,
													  dep_group_no,
													  mbr_relation,
													  svc_prv_last_name1,
													  svc_prv_first_name1,
													  svc_prv_middle_name1,
													  svc_ext_prv_id1,
													  svc_prv_ref_id1,
													  svc_prv_type1,
													  svc_prv_entity_type1,
													  svc_prv_last_name2,
													  svc_prv_first_name2,
													  svc_prv_middle_name2,
													  svc_ext_prv_id2,
													  svc_prv_ref_id2,
													  svc_prv_type2,
													  svc_prv_entity_type2,
													  svc_prv_last_name3,
													  svc_prv_first_name3,
													  svc_prv_middle_name3,
													  svc_ext_prv_id3,
													  svc_prv_ref_id3,
													  svc_prv_type3,
													  svc_prv_entity_type3,
													  enc_type_cd,
													  action_cd,
													  cert_auth_no,
													  reject_reason_cd,
													  auth_from_dt,
													  auth_to_dt,
													  svc_type_cd,
													  admit_dt,
													  discharge_dt,
													  user_idn,
													  diag_idn,
													  proc_idn,
													  is_subscriber,
													  decision_cd,
													  enc_status,
													  crt_dt,
													  upd_dt,
													  req_prv_cd,
													  svc_prv_cd

											  )
											VALUES  (
													  @v_auth_export_date_idn,
													  @v_enc_idn,
													  @v_req_prv_last_name,
													  @v_req_prv_first_name,
													  @v_req_prv_middle_name,
													  @v_req_ext_prv_id,
													  @v_req_prv_ref_id,
													  @v_req_prv_type,
													  @v_req_prv_entity_type,
													  @v_mbr_idn,
													  @v_mbr_first_name,
													  @v_mbr_last_name,
													  @v_mbr_middle_name,
													  @v_mbr_identfd_number,
													  @v_mbr_birth_dt,
													  @v_mbr_gender_cd,
													  @v_mbr_group_no,
													  @v_dep_first_name,
													  @v_dep_last_name,
													  @v_dep_middle_name,
													  @v_dep_identfd_number,
													  @v_dep_birth_dt,
													  @v_dep_gender_cd,
													  @v_dep_group_no,
													  @v_mbr_relation,
													  @v_svc_prv_last_name1,
													  @v_svc_prv_first_name1,
													  @v_svc_prv_middle_name1,
													  @v_svc_ext_prv_id1,
													  @v_svc_prv_ref_id1,
													  @v_svc_prv_type1,
													  @v_svc_prv_entity_type1,
													  @v_svc_prv_last_name2,
													  @v_svc_prv_first_name2,
													  @v_svc_prv_middle_name2,
													  @v_svc_ext_prv_id2,
													  @v_svc_prv_ref_id2,
													  @v_svc_prv_type2,
													  @v_svc_prv_entity_type2,
													  @v_svc_prv_last_name3,
													  @v_svc_prv_first_name3,
													  @v_svc_prv_middle_name3,
													  @v_svc_ext_prv_id3,
													  @v_svc_prv_ref_id3,
													  @v_svc_prv_type3,
													  @v_svc_prv_entity_type3,
													  @v_enc_type_cd,
													  @v_action_code,
													  @v_cert_auth_no,
													  @v_reject_reason_code,
													  @v_auth_from_date,
													  @v_auth_to_date,
													  @v_service_type_code_values,
													  @v_admit_date,
													  @v_discharge_date,
													  1,
													  @v_diag_idn,
													  @procedur_id,
													  @v_is_subscriber,
													  @v_decision_cd,
													  @v_enc_status,
													  GETDATE(),
													  GETDATE(),
													  @v_req_prv_cd,
													  @v_svc_prv_cd

											  )
											COMMIT TRANSACTION

											SET @v_auth_export_data_error_idn = SCOPE_IDENTITY()
								/*SET @errcnt=1
								SET @errmax=21
								WHILE @errcnt<@errmax
								BEGIN

									SET @errinsert = ' IF @v_'+convert(VARCHAR(MAX),@errcnt)+'<>0 '+
									+' BEGIN '+
									' INSERT  INTO dbo.auth_export_error
											(
											auth_export_error_idn,
											auth_export_data_error_idn,
											entity_active,
											crt_dt,
											upd_dt,
											user_idn
											)
											 VALUES  
											(@v_'+convert(varchar(20),@errcnt)+',
											@v_auth_export_data_error_idn,
											''Y'',
											GETDATE(),
											GETDATE(),
											1
											) END '
									  EXEC sp_executesql @errinsert 
								set @errcnt=@errcnt+1
								END*/

											IF @v_1 = 1 
												EXEC dbo.auth_error_insert 1,
													@v_auth_export_data_error_idn
											IF @v_2 = 2 
												EXEC dbo.auth_error_insert 2,
													@v_auth_export_data_error_idn
											IF @v_3 = 3 
												EXEC dbo.auth_error_insert 3,
													@v_auth_export_data_error_idn
											IF @v_4 = 4 
												EXEC dbo.auth_error_insert 4,
													@v_auth_export_data_error_idn
											IF @v_5 = 5 
												EXEC dbo.auth_error_insert 5,
													@v_auth_export_data_error_idn
											IF @v_6 = 6 
												EXEC dbo.auth_error_insert 6,
													@v_auth_export_data_error_idn
											IF @v_7 = 7 
												EXEC dbo.auth_error_insert 7,
													@v_auth_export_data_error_idn
											IF @v_8 = 8 
												EXEC dbo.auth_error_insert 8,
													@v_auth_export_data_error_idn
											IF @v_9 = 9 
												EXEC dbo.auth_error_insert 9,
													@v_auth_export_data_error_idn
											IF @v_10 = 10 
												EXEC dbo.auth_error_insert 10,
													@v_auth_export_data_error_idn
											IF @v_11 = 11 
												EXEC dbo.auth_error_insert 11,
													@v_auth_export_data_error_idn
											IF @v_12 = 12 
												EXEC dbo.auth_error_insert 12,
													@v_auth_export_data_error_idn
											IF @v_13 = 13 
												EXEC dbo.auth_error_insert 13,
													@v_auth_export_data_error_idn
											IF @v_14 = 14 
												EXEC dbo.auth_error_insert 14,
													@v_auth_export_data_error_idn
											IF @v_15 = 15 
												EXEC dbo.auth_error_insert 15,
													@v_auth_export_data_error_idn
											IF @v_16 = 16 
												EXEC dbo.auth_error_insert 16,
													@v_auth_export_data_error_idn
											IF @v_17 = 17 
												EXEC dbo.auth_error_insert 17,
													@v_auth_export_data_error_idn
											IF @v_18 = 18 
												EXEC dbo.auth_error_insert 18,
													@v_auth_export_data_error_idn
											IF @v_19 = 19 
												EXEC dbo.auth_error_insert 19,
													@v_auth_export_data_error_idn
											IF @v_20 = 20 
												EXEC dbo.auth_error_insert 20,
													@v_auth_export_data_error_idn
								

	----------------populate auth_export_278 in case of Errored----------------
											BEGIN TRANSACTION
											IF NOT EXISTS ( SELECT  1
															FROM    auth_export_278
															WHERE   enc_idn = @v_enc_idn ) 
												BEGIN
													INSERT  INTO dbo.auth_export_278
															(
															  enc_idn,
															  mbr_idn,
															  extn_idn,
															  auth_status_idn,
															  action_type,
															  crt_dt,
															  upd_dt,
															  user_idn
											)
															SELECT  @v_enc_idn,
																	@v_mbr_idn,
																	NULL,	   --@v_extn_idn,
																	2,		   --Errored
																	'Inserted',--@v_action_type,
																	GETDATE(),
																	GETDATE(),
																	1
												END
												IF EXISTS(SELECT  1--If corrected data have error again
														FROM    auth_export_278
														WHERE   auth_status_idn=3 AND enc_idn = @v_enc_idn)
												BEGIN
													UPDATE dbo.auth_export_278
													SET auth_status_idn=2,action_type='Updated'
													WHERE enc_idn=@v_enc_idn																												 
												END
											COMMIT TRANSACTION

										END--if errorcode<>''
								END--if exists in err table*/



	----------------populate export tables----------------                  
							--IF @v_auth_export_error_cd = ''
							IF @v_error_flag <> 'Y' 
								IF ( @v_corrected = 'Y'
									 OR @v_exportable = 'Y'
								   ) 
									BEGIN
	----------------populate auth_export_278 in case of Exported----------------
										BEGIN TRANSACTION
										IF NOT EXISTS ( SELECT  1
														FROM    auth_export_278
														WHERE   enc_idn = @v_enc_idn ) 
											BEGIN
												INSERT  INTO dbo.auth_export_278
														(
														  enc_idn,
														  mbr_idn,
														  extn_idn,
														  auth_status_idn,
														  action_type,
														  crt_dt,
														  upd_dt,
														  user_idn
										)
														SELECT  @v_enc_idn,
																@v_mbr_idn,
																NULL,	   --@v_extn_idn,
																1,		   --Exported
																'Inserted',--@v_action_type,
																GETDATE(),
																GETDATE(),
																1
											END
										COMMIT TRANSACTION


	----------------populate auth_export_diagnosis----------------
										BEGIN TRANSACTION 
										SELECT  @cnt = COUNT(1)
										FROM    enc_diag
										WHERE   enc_idn = @v_enc_idn
												AND entity_active = 'Y' 
										SELECT TOP 1
												@diag_cd = diag_cd,
												@diag_dt = start_dt,
												@diag_idn = diag_idn
										FROM    enc_diag
										WHERE   enc_idn = @v_enc_idn
												AND is_primary = 'Y'
												AND entity_active = 'Y'  
										INSERT  INTO auth_export_diagnosis
												(
												  primary_diag,
												  primary_diag_dt,
												  enc_idn,
												  crt_dt,
												  upd_dt,
												  user_idn,
												  entity_active
								  )
										VALUES  (
												  @diag_cd,
												  @diag_dt,
												  @v_enc_idn,
												  GETDATE(),
												  GETDATE(),
												  1,
												  'Y'
								  ) 
					

										SELECT  @diag_id = SCOPE_IDENTITY() 
										SET @rownum = 0   
										WHILE @rownum < @cnt - 1
											AND @rownum < 12
											AND @cnt > 1
											BEGIN  
												SET @rownum = @rownum + 1        
												SELECT TOP 1
														@diag_cd = diag_cd,
														@diag_dt = start_dt,
														@diag_idn = diag_idn
												FROM    enc_diag
												WHERE   enc_idn = @v_enc_idn
														AND is_primary = 'N'
														AND entity_active = 'Y'
														AND diag_idn > @diag_idn   
												SET @local = 'update auth_export_diagnosis set sec_diag_'
													+ CONVERT(VARCHAR(MAX), @rownum)
													+ '=''' + @diag_cd
													+ ''',sec_diag_dt'
													+ CONVERT(VARCHAR(MAX), @rownum)
													+ '='''
													+ CONVERT(VARCHAR(MAX), @diag_dt)
													+ ''' where diag_idn='
													+ CONVERT(VARCHAR(MAX), @diag_id) 
		                        
												EXEC sp_executesql @local 
		    
											END
							
						--get latest diag_idn 
										SELECT  @v_diag_idn = SCOPE_IDENTITY()
										COMMIT TRANSACTION 
	                                    
	                                    
	----------------populate auth_export_procedure----------------
										BEGIN TRANSACTION 
										SELECT  @cnt = COUNT(1)
										FROM    enc_proc
										WHERE   enc_idn = @v_enc_idn
												AND entity_active = 'Y' 
                                                          AND ascii(RTRIM(ltrim(procedur_cd))) is not null 
						
										SELECT TOP 1
												@procedur_cd = procedur_cd,
												@procedur_dt = start_dt,
												@procedur_idn = enc_proc_idn,
												@proc_type1 = proc_type
										FROM    enc_proc
										WHERE   enc_idn = @v_enc_idn
												AND entity_active = 'Y' AND ascii(RTRIM(ltrim(procedur_cd))) is not null 
										ORDER BY enc_proc_idn
						

										INSERT  INTO auth_export_procedure
												(
												  proc_1,
												  proc_dt1,
												  proc_type1,
												  enc_idn,
												  crt_dt,
												  upd_dt,
												  user_idn,
												  entity_active								
												)
										VALUES  (
												  @procedur_cd,
												  @procedur_dt,
												  @proc_type1,
												  @v_enc_idn,
												  GETDATE(),
												  GETDATE(),
												  1,
												  'Y'								
												) 
										SELECT  @procedur_id = SCOPE_IDENTITY()  	--get latest proc_idn

										SET @rownum = 0 
										WHILE @rownum < @cnt - 1
											AND @rownum < 11
											BEGIN  
												SET @rownum = @rownum + 1        
												SELECT TOP 1
														@procedur_cd = procedur_cd,
														@procedur_dt = start_dt,
														@procedur_idn = enc_proc_idn,
														@proc_type = proc_type
												FROM    enc_proc
												WHERE   enc_idn = @v_enc_idn
														AND enc_proc_idn > @procedur_idn
														AND entity_active = 'Y' 
												SET @local = 'update auth_export_procedure set proc_'
													+ CONVERT(VARCHAR(MAX), @rownum
													+ 1) + '=''' + @procedur_cd
													+ ''',proc_dt'
													+ CONVERT(VARCHAR(MAX), @rownum
													+ 1) + '='''
													+ CONVERT(VARCHAR(MAX), @procedur_dt)
													+ ''',proc_type'
													+ CONVERT(VARCHAR(MAX), @rownum
													+ 1) + '='''
													+ CONVERT(VARCHAR(MAX), @proc_type)
													+ ''' 					 
										where proc_idn='
													+ CONVERT(VARCHAR(MAX), @procedur_id) 
			                        
			           
												EXEC sp_executesql @local 		    
											END	
										SELECT  @cnt = 12
			--					COUNT(1)
			--					FROM    enc_proc
			--					WHERE   enc_idn = @v_enc_idn
			--							AND entity_active = 'Y' 
										SET @rownum = 0 
										WHILE @rownum < @cnt
											AND @rownum < 12
											BEGIN  
										       
												SET @local = 'UPDATE dbo.auth_export_procedure SET proc_qty_'
													+ CONVERT(VARCHAR(MAX), @rownum
													+ 1) + '='
													+ CONVERT(VARCHAR(MAX), @v_len_of_stay)
													+ ' WHERE enc_idn= '
													+ CONVERT(VARCHAR(MAX), @v_enc_idn)
													+ ' AND proc_idn = '
													+ CONVERT(VARCHAR(MAX), @procedur_id) --+'AND proc_1 is not null'
			--								SET @local = 'UPDATE dbo.auth_export_procedure SET proc_qty_'
			--								+ CONVERT(VARCHAR(MAX), @rownum + 1) + '='''
			--								+ CONVERT(VARCHAR(MAX),@v_proc_qty )+ ''' WHERE enc_idn=' + CONVERT(VARCHAR(MAX),  @v_enc_idn)
			--								+'''AND proc_idn = '+CONVERT(VARCHAR(MAX),@procedur_id)
												SET @rownum = @rownum + 1 
												EXEC sp_executesql @local 
											END	
										COMMIT TRANSACTION 

	----------------populate auth_export_data----------------
										BEGIN TRANSACTION 
										INSERT  INTO auth_export_data
												(
												  auth_export_date_idn,--auth_export_date
												  enc_idn,			--mbr_enc
												  req_prv_last_name,--from provider based on prv_role_cd
												  req_prv_first_name,
												  req_prv_middle_name,
												  req_ext_prv_id,	--prv.ext_prv_id
												  req_prv_ref_id,	--prv.tax_id
												  req_prv_type,
												  req_prv_entity_type,--based on given xwalk value
												  mbr_idn,			--mbr
												  mbr_first_name,
												  mbr_last_name,
												  mbr_middle_name,
												  mbr_identfd_number,--mbr_identfn.identfd_number,
												  mbr_birth_dt,
												  mbr_gender_cd,
												  mbr_group_no,		--if is_subscriber=Y then emp_grp.group_no else null
												  dep_first_name,
												  dep_last_name,	--from mbr
												  dep_middle_name,
												  dep_identfd_number,--mbr_identfn.identfd_number,
												  dep_birth_dt,
												  dep_gender_cd,
												  dep_group_no,		--if not subscriber then emp_grp.group_no else null
												  mbr_relation,		--mbr_enc.mbr_relation
												  svc_prv_last_name1,--from provider based on prv_role_cd
												  svc_prv_first_name1,
												  svc_prv_middle_name1,
												  svc_ext_prv_id1,	--prv.ext_prv_id
												  svc_prv_ref_id1,	--prv.tax_id
												  svc_prv_type1,		--prv.prv_type_cd
												  svc_prv_entity_type1,--based on given xwalk mapping values
												  svc_prv_last_name2,
												  svc_prv_first_name2,
												  svc_prv_middle_name2,
												  svc_ext_prv_id2,
												  svc_prv_ref_id2,
												  svc_prv_type2,
												  svc_prv_entity_type2,
												  svc_prv_last_name3,
												  svc_prv_first_name3,
												  svc_prv_middle_name3,
												  svc_ext_prv_id3,
												  svc_prv_ref_id3,
												  svc_prv_type3,
												  svc_prv_entity_type3,
												  length_of_stay,
												  enc_type_cd,		--mbr_enc.enc_type_cd
												  action_cd,		--action code : 4=extended,I=initial,S=revised
												  cert_auth_no,		--cert_auth_master
												  reject_reason_cd,--based on ip_svc.decision_rsn_cd
												  auth_from_dt,		--ip_svc.elos_assigned_from_dt/op_svc.from_dt
												  auth_to_dt,		--ip_svc.elos_assigned_to_dt/op_svc.to_dt
												  svc_type_cd,--ip_svc.svc_type_cd
												  admit_dt,			--ip_svc/op_svc.admit_dt
												  discharge_dt,		--discharge.discharge_dt 
												  crt_dt,			--getdate
												  upd_dt,			--getdate
												  user_idn,			--1                          
												  diag_idn,			--auth_export_diagnosis
												  proc_idn,			--auth_export_procedure
												  enc_status,		--mbr_enc.enc_status
												  is_subscriber,
												  decision_cd,		--code_decision
												  req_prv_cd,
												  svc_prv_cd

									  )
										OUTPUT  INSERTED.*
												INTO auth_export_data_history --to populate auth_export_data_history also
										VALUES  (
												  @v_auth_export_date_idn,
												  @v_enc_idn,
												  @v_req_prv_last_name,
												  @v_req_prv_first_name,
												  @v_req_prv_middle_name,
												  @v_req_ext_prv_id,
												  @v_req_prv_ref_id,
												  @v_req_prv_type,
												  @v_req_prv_entity_type,
												  @v_mbr_idn,
												  @v_mbr_first_name,
												  @v_mbr_last_name,
												  @v_mbr_middle_name,
												  @v_mbr_identfd_number,
												  @v_mbr_birth_dt,
												  @v_mbr_gender_cd,
												  @v_mbr_group_no,
												  @v_dep_first_name,
												  @v_dep_last_name,
												  @v_dep_middle_name,
												  @v_dep_identfd_number,
												  @v_dep_birth_dt,
												  @v_dep_gender_cd,
												  @v_dep_group_no,
												  @v_mbr_relation,
												  @v_svc_prv_last_name1,
												  @v_svc_prv_first_name1,
												  @v_svc_prv_middle_name1,
												  @v_svc_ext_prv_id1,
												  @v_svc_prv_ref_id1,
												  @v_svc_prv_type1,
												  @v_svc_prv_entity_type1,
												  @v_svc_prv_last_name2,
												  @v_svc_prv_first_name2,
												  @v_svc_prv_middle_name2,
												  @v_svc_ext_prv_id2,
												  @v_svc_prv_ref_id2,
												  @v_svc_prv_type2,
												  @v_svc_prv_entity_type2,
												  @v_svc_prv_last_name3,
												  @v_svc_prv_first_name3,
												  @v_svc_prv_middle_name3,
												  @v_svc_ext_prv_id3,
												  @v_svc_prv_ref_id3,
												  @v_svc_prv_type3,
												  @v_svc_prv_entity_type3,
												  @v_len_of_stay,
												  @v_enc_type_cd,
												  @v_action_code,
												  @v_cert_auth_no,
												  @v_reject_reason_code,
												  @v_auth_from_date,
												  @v_auth_to_date,
												  @v_service_type_code_values,
												  @v_admit_date,
												  @v_discharge_date,
												  GETDATE(),
												  GETDATE(),
												  1,
												  @v_diag_idn,
												  @procedur_id,
												  @v_enc_status,
												  @v_is_subscriber,
												  @v_decision_cd,
												  @v_req_prv_cd,
												  @v_svc_prv_cd
									  )

										COMMIT TRANSACTION 	
			
									END
						END
					CLOSE export_data_cur
					DEALLOCATE export_data_cur

	----------------populate auth_export_diagnosis_history----------------	  
					INSERT  INTO auth_export_diagnosis_history
							(
							  diag_idn,
							  primary_diag,
							  primary_diag_dt,
							  sec_diag_1,
							  sec_diag_dt1,
							  sec_diag_2,
							  sec_diag_dt2,
							  sec_diag_3,
							  sec_diag_dt3,
							  sec_diag_4,
							  sec_diag_dt4,
							  sec_diag_5,
							  sec_diag_dt5,
							  sec_diag_6,
							  sec_diag_dt6,
							  sec_diag_7,
							  sec_diag_dt7,
							  sec_diag_8,
							  sec_diag_dt8,
							  sec_diag_9,
							  sec_diag_dt9,
							  sec_diag_10,
							  sec_diag_dt10,
							  sec_diag_11,
							  sec_diag_dt11,
							  crt_dt,
							  upd_dt,
							  user_idn,
							  entity_active,
							  enc_idn
						
							)
							SELECT  diag_idn,
									primary_diag,
									primary_diag_dt,
									sec_diag_1,
									sec_diag_dt1,
									sec_diag_2,
									sec_diag_dt2,
									sec_diag_3,
									sec_diag_dt3,
									sec_diag_4,
									sec_diag_dt4,
									sec_diag_5,
									sec_diag_dt5,
									sec_diag_6,
									sec_diag_dt6,
									sec_diag_7,
									sec_diag_dt7,
									sec_diag_8,
									sec_diag_dt8,
									sec_diag_9,
									sec_diag_dt9,
									sec_diag_10,
									sec_diag_dt10,
									sec_diag_11,
									sec_diag_dt11,
									crt_dt,
									upd_dt,
									user_idn,
									entity_active,
									enc_idn
							FROM    auth_export_diagnosis
	----------------populate auth_export_procedure_history----------------	
					INSERT  INTO DBO.auth_export_procedure_history
							(
							  proc_idn,
							  proc_1,
							  proc_dt1,
							  proc_type1,
							  proc_qty_1,
							  proc_2,
							  proc_dt2,
							  proc_type2,
							  proc_qty_2,
							  proc_3,
							  proc_dt3,
							  proc_type3,
							  proc_qty_3,
							  proc_4,
							  proc_dt4,
							  proc_type4,
							  proc_qty_4,
							  proc_5,
							  proc_dt5,
							  proc_type5,
							  proc_qty_5,
							  proc_6,
							  proc_dt6,
							  proc_type6,
							  proc_qty_6,
							  proc_7,
							  proc_dt7,
							  proc_type7,
							  proc_qty_7,
							  proc_8,
							  proc_dt8,
							  proc_type8,
							  proc_qty_8,
							  proc_9,
							  proc_dt9,
							  proc_type9,
							  proc_qty_9,
							  proc_10,
							  proc_dt10,
							  proc_type10,
							  proc_qty_10,
							  proc_11,
							  proc_dt11,
							  proc_type11,
							  proc_qty_11,
							  proc_12,
							  proc_dt12,
							  proc_type12,
							  proc_qty_12,
							  crt_dt,
							  upd_dt,
							  user_idn,
							  entity_active,
							  enc_idn
						
							)
							SELECT  proc_idn,
									proc_1,
									proc_dt1,
									proc_type1,
									proc_qty_1,
									proc_2,
									proc_dt2,
									proc_type2,
									proc_qty_2,
									proc_3,
									proc_dt3,
									proc_type3,
									proc_qty_3,
									proc_4,
									proc_dt4,
									proc_type4,
									proc_qty_4,
									proc_5,
									proc_dt5,
									proc_type5,
									proc_qty_5,
									proc_6,
									proc_dt6,
									proc_type6,
									proc_qty_6,
									proc_7,
									proc_dt7,
									proc_type7,
									proc_qty_7,
									proc_8,
									proc_dt8,
									proc_type8,
									proc_qty_8,
									proc_9,
									proc_dt9,
									proc_type9,
									proc_qty_9,
									proc_10,
									proc_dt10,
									proc_type10,
									proc_qty_10,
									proc_11,
									proc_dt11,
									proc_type11,
									proc_qty_11,
									proc_12,
									proc_dt12,
									proc_type12,
									proc_qty_12,
									crt_dt,
									upd_dt,
									user_idn,
									entity_active,
									enc_idn
							FROM    DBO.auth_export_procedure

							--exported/errored data count
							SELECT @count_export=COUNT(1) FROM dbo.auth_export_data where auth_export_date_idn = @v_auth_export_date_idn
--							SELECT @max2_error =ISNULL(MAX(auth_export_data_error_idn),0) FROM dbo.auth_export_data_error
							SELECT @count_error=COUNT(1) FROM dbo.auth_export_data_error where auth_export_date_idn = @v_auth_export_date_idn
							SELECT @count_total=ISNULL(@count_export+@count_error,0)
							SET @exported_details='Total = '+CONVERT(VARCHAR(MAX),@count_total)+', Exported = '+CONVERT(VARCHAR(MAX),@count_export)+', Errored = '+CONVERT(VARCHAR(MAX),@count_error)
										
	               
				END--end of IF @i_start_date>@i_end_date

			SELECT @exported_details
		END--end proc


	